{% extends "main/base.html" %}
{% block content %}
    <div class="content-section">
      {% if messages %}
        {% for message in messages  %}
            <div class="alert alert-{{ message.tags }}" id="msg" role="alert">
              <p style="text-align: center; padding-top: 8px">{{ message }}</p>
            </div>
        {% endfor %}
     {% endif %}
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">ELiminar notifiación</legend>
                <h2>Estas seguro de eliminar la notificacion de"{{ notificacion.acto.nombre }}"</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes, Eliminar</button>
                <a class="btn btn-outline-secondary" href="{% url 'notificactionsList'%}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock  content%}
