{% extends 'main/base.html' %}
{% block content %}
    <div class="content-section">
        <form method="POST" class="ftco-animate" style="padding-top: 80px;">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Eliminar notificación</legend>
                <h4>Estas seguro de eliminar la notificacion de {{ notificacion.actor.nombre }}</h4>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Si, Eliminar</button>
                <a class="btn btn-outline-secondary" href="{% url 'app:notificationsList'%}">Cancelar</a>
            </div>
        </form>
    </div>
{% endblock content %}
