{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<section class="ftco-section" style="background:#31de79">
  <div class="container" style="background:#31de79">
    <div id='calendar'></div>
  </div>

</section>


{%endblock%}

{% block  script_tag %}
<script>
    $(document).ready(function() {
        $('#calendar').fullCalendar({
          monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
          monthNamesShort: ['Ene','Feb','Mar','Abr','May','Jun','Jul','Ago','Sep','Oct','Nov','Dic'],
          dayNames: ['Domingo','Lunes','Martes','Miércoles','Jueves','Viernes','Sábado'],
          dayNamesShort: ['Dom','Lun','Mar','Mié','Jue','Vie','Sáb'],
            events: [
                {% for event in eventslist %}
                    {
                        title: '{{ event.titulo }}',
                        start: '{{ event.fecha }}',
                        url: '/paquetes/{{ event.paquete_id}}/'+'{{ event.clase_id }}'
                    },
                {% endfor %}
            ],


            eventClick: function(event) {
                if (event.url){
                    window.open(event.url, "_blank");
                    return false;
                }
            },

            height: 650,
        });
    });
  </script>
  {%endblock%}
