{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<section class="ftco-section" style="background:#31de79">
  <div class="container" style="background:#31de79">
    <form action="{% url 'app:events' %}" method="get">
        <select name="seleccion" id="drop" style="margin-bottom: 20px;">
                <option  {% if seleccion == 'clases' %} selected="selected" {% endif %} value="clases">Clases</option>
                <option {% if seleccion == 'notificaciones' %} selected="selected" {% endif %} value="notificaciones">Notificaciones</option>
        </select>
        <button type="submit">Buscar</button>
     </form>

    <div id='calendar'   class=ftco-animate></div>
  </div>

</section>


{%endblock%}

{% block  script_tag %}
<script>
    $(document).ready(function() {

        $('#calendar').fullCalendar({
          monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
          monthNamesShort: ['Ene','Feb','Mar','Abr','May','Jun','Jul','Ago','Sep','Oct','Nov','Dic'],
          dayNames: ['Domingo','Lunes','Martes','Miércoles','Jueves','Viernes','Sábado'],
          dayNamesShort: ['Dom','Lun','Mar','Mié','Jue','Vie','Sáb'],
            events: [

                {% for event in eventslist %}
                    {
                        title: '{{ event.titulo }}',
                        start : '{{ event.fecha|date:"Y-m-d" }}',
                        {% if seleccion == "clases" %}
                        url: '/paquetes/{{ event.paquete_id }}/{{ event.clase_id }}',
                        {% else %}
                          url: '/notificationsList/vista/{{ event.id }}',
                        {%endif%}
                        color: '{{ event.color }}'
                    },
                {% endfor %}
            ],


            eventClick: function(event) {
                if (event.url){
                    window.open(event.url, "_blank");
                    return false;
                }
            },

            height: 650,
        });
    });
  </script>
  {%endblock%}
