{% extends 'main/base.html' %}
{% load crispy_forms_tags%}
{% load static %}
{% block content %}
<section>
  <div class="container ftco-animate"  style="margin-top:120px; margin-bottom: 10px;">
    <div class="row">
      <div class="col-md-4">

            <div  style="height:400px;background-color: aliceblue;"class="portlet light profile-sidebar-portlet bordered  justify-content-center ftco-animate">
              <div class="profile-userpic" style="text-align:center;">
                  <img src="{% static "main/images/escuela.jpg" %}" class="img-responsive" alt="">
              </div>
                {%if request.user.is_superuser %}
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">Alumnos</div>
                    <div class="profile-usertitle-job">Club de tareas</div>
                    <p>Enviar Notificación</p>
                </div>
                {% else %}

                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">Profesores</div>
                    <div class="profile-usertitle-job">Club de tareas</div>
                    <p>Notifiación al staff</p>
                </div>
                {%endif%}
           </div>
         </div>

        <div class="col-md-8">

            <div class="portlet-body">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="home">
                                <form method="POST" style="height:400px;"novalidate>
                                  {% csrf_token %}
                                  {% for field in notification_form %}
                                  <div class="form-group">
                                      {{ field.label_tag }}
                                      {{ field }}
                                  </div>
                                    {% if field.help_text %}
                                    <small style="color:gray;">{{ field.help_text }}</small>
                                    {% endif %}
                                    {% for error in field.errors %}
                                       <div class="alert alert-danger">
                                       <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                  {% endfor %}
                                  {% for error in notification_form.non_field_errors%}
                                  <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                  </div>
                                  {% endfor %}
                                  <button type="submit" class="btn btn-info">Enviar</button>
                                </form>
                            </div>

                        </div>


                </div>
        </div>


      </div>
      <div style="height: 40px; width: 100%; position:relative"class="mt-5">
         <a href="{% url 'app:profile'%}" style="position: absolute; right:0">

         <button type="button" class="btn btn-primary" style="font-size:15px;">
               <i class="fa fa-chevron-left"></i> Ir a Perfil</button>
         </a>
       </div>
    </div>



</section>
{% endblock content %}
