{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<section class="ftco-section ftco-project"  style="background:#31de79">
  <div class="container px-md-5 ftco-animate" style="padding-top: 50px;">

    <div class="container" style="padding-bottom: 10px;">
      <div style="background-color: white;border-radius: 5px;">
        <div class="inset">
          <img  style="width: 50px;height:50px;padding:5px;"src="{{ notificacion.actor.imagen.url }}">
        </div>
          <div  style="padding-left: 60px;">
            <span style="color: #5897fb;">
              De parte de : {{ notificacion.actor.nombre }} {{ notificacion.actor.apellido}}
            </span>
            <br>
              <a>Asunto: {{ notificacion.verb }}</a>
            <br>
            <p>Mensaje: {{ notificacion.description }}</p>
            Fecha: {{ notificacion.timestamp|date:"Y/m/d H:i:s" }}
          </div>
      </div>
      <div style="height: 40px; width: 100%; position:relative"class="mt-5">
         <a href="{% url 'app:notificaciones-list'%}" style="position: absolute; right:0">

         <button type="button" class="btn btn-primary" style="font-size:15px;">
               <i class="fa fa-chevron-left"></i> Ir a Notificaciones</button>
         </a>
       </div>
    </div>

   </div>
</section>

{% endblock content  %}
