{% extends 'main/base.html' %}
{% load static %}

{% block content %}
  <section class="ftco-section notifications-fix-top" style="background:#31de79">
    <div class="container ftco-animate">
    <div style="background-color: white;position: relative; width:100%; height:100px;">
      <div class="row mt-4 ml-0"  style="position: absolute; left:5%;top:-15px;">
         <button class="btn btn-fix"  style="border-radius: 0;background:#31de79;" role="button">Mensajes de usuarios</button>
       </div>

      <button class="btn btn-primary ml-1 btn-fix" style="position: absolute; right:5px; bottom:10px;">
            <a  style="color: black;border-radius:0;"href="{% url 'app:form_notification'%}">Enviar Notificación</a>
      </button>
      {% if  notificaciones %}
              <a  style="font-size: 40px;position: absolute; right:155px;bottom:-10px;" href="{% url 'app:delete_by_topic' verb='notificacion-de-usuario' %}" class="btn"><i class="fa fa-trash"></i></a>
      {% endif %}
    </div>


    <div class="row mt-2"  style="padding:0">
        <ul class="list-group" style="width: 100%">
            {% if notificaciones %}
                {% for notificacion in notificaciones %}

                 <div class="container" style="padding-bottom: 10px; padding-top: 10px">
                   <div style="background-color: white;border-radius: 5px; position: relative ">
                     <div class="inset">
                       <img  class="img-fix" style="width: 80px;height:80px;padding:5px" src="{{ notificacion.actor.imagen.url }}">
                     </div>
                     {% if notificacion.unread %}
                         <span class="badge badge-success" style="border-radius: 50%; position:absolute; top:10%; left:0;
                         z-index:1000;transform: translate(-50%,-50%);">
                         <i class="fa fa-comments"></i>
                            </span>
                     {%else%}
                         <span class="badge badge-danger" style="border-radius: 50%; position:absolute; top:10%; left:0;
                        z-index: 1000;transform: translate(-50%,-50%);">
                         <i class="fa fa-comments"></i>
                          </span>
                     {%endif%}

                       <div  style="padding-left: 80px;position:relative;">
                         <p> Asunto: {{ notificacion.verb}}</p>
                         <span style="color: #5897fb;">
                           Notificacion de: {{ notificacion.actor.nombre }} {{ notificacion.actor.apellido}}
                         </span>
                        <br>
                         <span>
                                   Fecha: {{ notificacion.timestamp|date:"Y/m/d H:i:s" }}
                         </span>
                         <br>
                        <div  class="content-gap" style="height:50px;width: 100px;">
                            <div style="position:absolute; bottom:0; right:0; padding-bottom: 10px; padding-right: 10px;">
                               <a  style="font-size: 30px;"href="{% url 'app:notificacion'  id=notificacion.id %}" class="btn"><i class="fa fa-file"></i></a>
                              <a  style="font-size: 35px;"href="{% url 'app:borrar_notificacion' id=notificacion.id %}" class="btn"><i class="fa fa-trash"></i></a>
                            </div>
                       </div>

                   </div>
                 </div>
               </div>

                {% endfor %}
            {% else %}
            <ul class="list-group" style="padding-bottom: 20px">
                  <li class="list-group-item">No hay Notificaciones</li>
            </ul>
            {% endif%}
        </ul>

        {% if notificaciones %}

        <nav style="margin-left: 15px;">
          <ul class="pagination">
            {% if notificaciones.has_previous %}
              <li class="page-item">
                <a
                  class="page-link"
                  href="?page={{notificaciones.previous_page_number}}">Anterior</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#">Anterior</a>
              </li>
            {% endif %}
            {% for pagenum in notificaciones.paginator.page_range %}
            <li
               class="page-item{% if notificaciones.number == pagenum %} active {% endif %}">
              <a class="page-link" href="?page={{pagenum}}">{{pagenum}}</a>
            </li>
           {% endfor %}
           {% if notificaciones.has_next %}
             <li class="page-item">
              <a class="page-link" href="?page={{notificaciones.next_page_number}}">Siguiente</a>
             </li>
           {% else %}
             <li class="page-item disabled">
               <a class="page-link" href="#">Siguiente</a>
             </li>
           {% endif %}
         </ul>
       </nav>
          {% endif %}

    </div>
  </div>
</div>
</section>


{% endblock content %}
