{% extends 'main/base.html' %}
{% load static %}

{% block content %}
  <section class="ftco-section" style="background:#31de79">
  <div class="container ftco-animate">
    <div class="row mt-4 ml-1">
        <a href="" class="btn btn-warning" role="button">Notificaciones</a>
    </div>
    <div class="row mt-2"  style="padding:10px;">
        <ul class="list-group" style="width: 100%">
            {% if notificaciones %}
                {% for notificacion in notificaciones %}
                <a  class="bg-light" href="{% url 'app:notificacion' id=notificacion.id%}">
                 <div class="container" style="padding-bottom: 10px; padding-top: 10px;">
                   <div style="background-color: white;border-radius: 5px; position: relative ">
                     <div class="inset">
                       <img  style="width: 50px;height:50px;padding:5px;"src="{{ notificacion.actor.imagen.url }}">
                     </div>
                     {% if notificacion.unread %}
                         <span class="badge badge-success" style="border-radius: 50%; position:absolute; top:10%; left:0; transform: translate(-50%,-50%);">
                         <i class="fa fa-comments"></i>
                            </span>
                     {%else%}
                         <span class="badge badge-danger" style="border-radius: 50%; position:absolute; top:10%; left:0; transform: translate(-50%,-50%);">
                         <i class="fa fa-comments"></i>
                          </span>
                     {%endif%}

                       <div  style="padding-left: 60px;">
                         <h5> Asunto: {{ notificacion.verb}}</h5>
                         <span style="color: #5897fb;">
                           Notificacion de: {{ notificacion.actor.nombre }} {{ notificacion.actor.apellido}}
                         </span>
                        <br>
                         <span>
                                   Fecha: {{ notificacion.timestamp|date:"Y/m/d H:i:s" }}
                         </span>
                         <div class="row">
                             <a href="#" class="btn btn-danger" role="button">Eliminar notificación</a>
                          </div>
                       </div>

                   </div>
                 </div>

                 </a>
                {% endfor %}
            {% else %}
            <ul class="list-group" style="padding-bottom: 20px">
                  <li class="list-group-item">No hay Notificaciones</li>
            </ul>
            {% endif%}
        </ul>

        {% if is_paginated %}
          <div style="padding-top:20px;">
                {% if page_obj.has_previous %}
                  <a class="btn btn-outline-info mb-4" href="?page=1">Primera</a>
                  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                  {% if page_obj.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                  {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                  {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Ultima</a>
                {% endif %}
            </div>
             {% endif %}
    </div>
</div>

  </section>

<!--
{% if  request.user.is_superuser %}
<div class="container ftco-animate" style="margin-top:80px">
    <div class="row mt-4 ml-1">
        <a href="" class="btn btn-warning" role="button">Usuarios en Linea</a>
    </div>
    <div class="row mt-2"  style="padding:10px">
        <ul class="list-group" style="width: 100%">
          {% for user in online_users %}
          <div class="container" style="padding-bottom: 10px;">
            <div style="background-color: white;border-radius: 5px;">
              <div class="inset">
                <img  style="width: 50px;height:50px;padding:5px;"src="{{ user.user.imagen.url }}">
              </div>
                <div  style="padding-left: 60px;">
                  <span>  <a>Nombre: {{ user.user.nombre}} {{user.user.apellido }}</a></span>


                </div>
            </div>

         </div>
       </ul>
     </div>

</div>
  {% endfor %}
{% endif %}
-->

<style>
    #notice_link a:link {
        color: black;
    }

    #notice_link a:visited {
        color: lightgrey;
    }
</style>
{% endblock content %}
