{% extends 'main/base.html' %}
{% load crispy_forms_tags%}
{% load static %}
{% block content %}
<section>
  <div class="container"  style="margin-top:100px;overflow:hidden;">
    {% if messages %}
      {% for message in messages  %}
          <div class="alert alert-{{ message.tags }}" id="msg" role="alert">
            <p style="text-align: center; padding-top: 8px">{{ message }}</p>
          </div>
      {% endfor %}
   {% endif %}
    <div class="row">

        <div class="col-md-8">
            <div class="portlet light bordered ftco-animate">
                <div class="portlet-title tabbable-line">
                    <div class="caption caption-md">
                        <i class="icon-globe theme-font hide"></i>
                        <span class="caption-subject font-blue-madison bold uppercase">Información de Usuario</span>
                    </div>
                </div>
                <div class="portlet-body">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="home">
                                <form method="POST" enctype="multipart/form-data">
                                  {% csrf_token %}
                                  {% for field in profile_form %}
                                  <div class="form-group">
                                      {{ field.label_tag }}
                                      {{ field }}
                                  </div>
                                    {% if field.help_text %}
                                    <small style="color:gray;">{{ field.help_text }}</small>
                                    {% endif %}
                                    {% for error in field.errors %}
                                       <div class="alert alert-danger boom">
                                       <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                  {% endfor %}
                                  {% for error in profile_form.non_field_errors%}
                                  <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                  </div>
                                  {% endfor %}
                                  <button type="submit" class="btn btn-info">Guardar Cambios</button>
                                </form>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="profile">Profile</div>
                            <div role="tabpanel" class="tab-pane" id="messages">Messages</div>
                            <div role="tabpanel" class="tab-pane" id="settings">Settings</div>
                        </div>


                </div>
            </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-12">
              <div class="portlet light profile-sidebar-portlet bordered  justify-content-center ftco-animate">
                  <div class="profile-userpic" style="text-align:center">
                      <img src="{{ request.user.imagen.url }}" class="img-responsive" alt="">
                  </div>
                  <div class="profile-usertitle">
                      <div class="profile-usertitle-name">{{ request.user.nombre }}</div>
                      <div class="profile-usertitle-job">{{ request.user.apellido }} </div>
                  </div>
                  <div class="profile-userbuttons">
                      <button type="button" class="btn btn-info  btn-sm" data-toggle="modal"  data-target=".historial_modal">Historial</button>
                  </div>
                  <div class="profile-usermenu w-100">
                      <ul class="nav">
                          <li style="position:relative; width:100%; height:50px;">
                              <a  style="text-align: center;position:absolute; top:0; left: 50%; transform: translateX(-50%);" href="{% url 'app:form_notification'%}">
                                  <i class="icon-settings"></i>Mensaje al estaff</a>
                          </li>
                      </ul>
                  </div>
             </div>

            </div>


            <div class="col-12">
              <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                 <div class="carousel-item active">
                   <img class="d-block w-100" src="{% static 'main/images/club1.jpg' %}" alt="First slide">
                 </div>
                 <div class="carousel-item">
                   <img class="d-block w-100" src="{% static 'main/images/club.jpeg'%}" alt="Second slide">
                 </div>
                 <div class="carousel-item">
                   <img class="d-block w-100" src="{% static 'main/images/club2.jpg'%}" alt="Third slide">
                 </div>
               </div>
          </div>

            </div>
            <div class="col-12">
              <div id="fb-container" style="width:100%; margin-top: 30px;margin-bottom: 30px;text-align: center">
                <div class="fb-page" data-tabs="timeline" data-href="https://www.facebook.com/El-Club-De-Tareas-114777256733226/" data-height="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/El-Club-De-Tareas-114777256733226/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/El-Club-De-Tareas-114777256733226/">Clove Republic</a></blockquote></div>
              </div>
            </div>
            {% if request.user.is_superuser %}
                <div class="col-12" style="height: 500px; overflow:scroll;background: #17a2b8;">
                  <div style="color:white;">Usuarios en Línea:</div>
                    {% for user in online_users  %}
                          <div class="block-21 mb-4 d-flex">
                            <a  href="#" class="blog-img mr-4" style="background-image: url('{{ user.user.imagen.url  }}');"></a>
                            <div class="text">
                                <h3 class="heading">Username: {{ user.user.username }}</h3>
                              <h3 class="heading">Nombre: {{ user.user.nombre }} {{ user.user.apellido }}</h3>
                          </div>
                          </div>
                  {% endfor %}
                </div>
            {% endif %}
          </div>
      </div>
    </div>
  </div>

    <div class="modal fade bd-example-modal-lg historial_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" >
        <div class="modal-content" style="max-height:500px; overflow: scroll">
          <div class="modal-header">
            <h5 class="modal-title">Historial de registros actualizados</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {% if historial %}
            {% for instancia in  historial %}
                <p>{{ instancia.fecha }}</p>
                <p>{{ instancia.mensaje }}</p>
                <br>
            {% endfor %}
            {% else %}
             <p>No  registros actualizados</p>
            {% endif %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>

        </div>
      </div>
</section>
{% endblock content %}