
{% extends 'main/base.html' %}
{% load static %}
{% block content %}

		<section class="fix_mobile ftco-counter  img ftco-section ftco-no-pt ftco-no-pb" style="margin-top:100px">
    	<div class="container">
    		<div class="row d-flex">
    			<div class="col-md-6 col-lg-5 d-flex">
    				<div class="img d-flex align-self-stretch align-items-center" style="background-image:url({% static 'main/images/about.jpg'%})">
    				</div>
    			</div>
    			<div class="col-md-6 col-lg-7 pl-lg-5 py-5">
    				<div class="py-md-5">
	    				<div class="row justify-content-start pb-3">
			          <div class="col-md-12 heading-section ftco-animate">
			          	<span class="subheading">Bienvenido al Club de tareas</span>
			            <h2 class="mb-4" style="font-size: 34px; text-transform: capitalize;">We Are Digital Agency</h2>
			            <p style="text-align: justify;">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
			            <p style="text-align: justify;">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
			            <p style="text-align:justify;">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
								</div>
								<div class="col-md-12 heading-section ftco-animate">
									<span class="subheading">Club de tareas</span>
									<h2 class="mb-4" style="font-size: 34px; text-transform: capitalize;">Misión</h2>
									<p style="text-align:  justify;">Crecer continuamente brindandole a los amumnos la más alta calidad en el servicio de asesoría academica y terapia de lenguaje.
									Manteniendos a la vanguardia cuidando siempre el desarrollo intelectual y emocional de nuestros alumnos</p>
								</div
								<div class="col-md-12 heading-section ftco-animate">
			            <span class="subheading">Club de Tareas</span>
			            <h2 class="mb-4" style="font-size: 34px; text-transform: capitalize;">Visión</h2>
			            <p style="text-align: justify;">Somos una institución lider en el ramo que ofrece sus servicios promoviendo el desarrollo integral de sus alumnos
			              y brindando confianza y tranquilidad al padre de familia,teniendo la certeza de que sus hijos están en  en las mejores manos
			              garantizando siempre el mejor servicio y excelentes resultados.</p>
			          </div>

			        </div>
		          <div class="counter-wrap ftco-animate d-flex mt-md-3">
	              <div class="text p-4 bg-primary">
	              	<p class="mb-0">
		                <span class="number" data-number="10">0</span>
		                <span>Años de Experiencia</span>
	                </p>
	              </div>
		          </div>
		        </div>
	        </div>
        </div>
    	</div>
    </section>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center pb-5">
          <div class="col-md-6 heading-section text-center ftco-animate">
          	<span class="subheading">Quiénes somos?</span>
            <h2 class="mb-4">Nuestros profesores</h2>
            <p>Mejorando día con día con profesores mejores preparados</p>
          </div>
        </div>
        <div class="row">
				  {% if profesores %}
					{% for profesor in profesores%}
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url({{ profesor.imagen.url }})"></div>
							</div>
							<div class="text d-flex align-items-center pt-3 text-center">
								<div>
									<h3 class="mb-2">{{ profesor.nombre }}</h3>
									<span class="position mb-4">{{ profesor.profesion }}</span>
                  {% comment %}
									<div class="faded">
										<ul class="ftco-social text-center">
											<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
											<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
											<li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
											<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
										</ul>
									</div>
                  {% endcomment %}
		            </div>
							</div>
						</div>

					</div>
					{% endfor %}
					{% endif %}
				</div>
    	</div>
    </section>


{% endblock content%}
