
{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<section class="ftco-section testimony-section">
  <div class="container">
    <div class="row justify-content-center pb-3">
      <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
        <h2 class="mb-4">Clientes Felices</h2>
      </div>
    </div>
    <div class="row ftco-animate justify-content-center">
      <div class="col-md-12">
        <div class="carousel-testimony owl-carousel ftco-owl">
          {% if testimonios %}
            {% for testimonio in testimonios %}
              <div class="item">
                <div class="testimony-wrap text-center py-4 pb-5">
                  <div class="user-img" style="background-image: url({{ testimonio.imagen.url }})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text px-4 pb-5">
                    <p class="mb-4">{{ testimonio.mensaje }}</p>
                    <p class="name">{{ testimonio.nombre }}</p>
                    <span class="position">{{ testimonio.profesion }}</span>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock content     %}
